input{
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 48px;
    cursor: pointer;
}

button {
    width: 200px;
    height: 50px;
    font-size: 32px;
    background-color: blueviolet;
    color:white;
}

.hide {
    display: none;
}
